.sidebar {
  width: 300px;
  height: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  // justify-content:center;
  align-items: center;
  gap: 173px;
  background: linear-gradient(180deg, rgba(210, 84, 135, 0.12) 0%, rgba(210, 84, 135, 0.10) 57.44%, rgba(252, 252, 255, 0.57) 100%);
}


.sidebar__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  span {
    color: #000;
    font-family: var(--font-dm);
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 18px; /* 90% */
  }
}

.sidebar__content__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 38px;
  list-style: none;
  .links__item {
    .link {

      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 22px;

      font-weight: 700;

      text-decoration: none;

      color: #000;
      font-family: var(--font-dm);
      font-size: 18px;
      font-style: normal;

      line-height: 18px; /* 100% */

      span {
        display: flex;
        img{
          vertical-align: center;
        }
      }
    }
  }
}

.sidebar__user {
  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;

  .sidebar__user__img {
    border-radius: 50%;
  }

  span {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;

  }

}