.team {

  width: 1170px;
  margin: auto;
  margin-top: 54px;
  margin-bottom: 54px;
  .team__title {
    .team__title__text {
      font-size: 34px;
      font-weight: 900;
      color: #000000;
    }
  }
}

.team__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 19px;
  grid-row-gap: 19px;
}



// ------------ our team card__team-------------//
.team__card {
  display: flex;
  align-items: center;

  // justify-content: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 5px 20px 20px 0px rgba(0, 0, 0, 0.10);
  gap: 14px;
  .team__card__img {
    width: 138px;
    height: 134px;
  }
  .team__card__body__title {
    margin: 0;
    white-space: nowrap;
    color: #35bab4;
    font-family: var(--font-dm-bold);
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 18px; /* 81.818% */
  }
  .team__crad__body__desc {
    margin-bottom: 0;

    color: #81bd4f;
    font-size: 14px;
    margin-top: 6px;
    font-family: var(--font-var);

    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 100% */
  }
  .team__card__body__icon {
    padding-top:8px ;
    display: flex;
    justify-content: flex-end;
    .team__card__body__icon__img {
      height:28px;
      width: 28px;
    }
  }
}