.advantages-sec {
  width: 1170px;
  margin: auto;
  margin-top: 54px;
}

.its-right {
  text-align: right;
}

h1.plans__title__text.its-right {
  margin-right: 62px;
}

.advantages {


  .advantages__title {

    span {
      font-size: 24px;
      font-weight: 600;
    }

    .advantages__title__text {
      padding-top: 14px;
      font-size: 34px;
      font-weight: 900;
    }
  }
}

.advantages__title__cards {

}

.advantages__cards {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.advantages__card {
  border-top: 8px solid #2F97C1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.10);

  .advantages__card__title {
    font-size: 20px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 12px;
  }

  .advantages__card__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
  }
}

.have-background {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #dddddd;
}