.card__prices {
  position: relative;
  z-index: 3;
  display: flex;

  margin-bottom: 14px;
  gap: 18px;

  .crad__price {
    display: flex;
    align-items: flex-start;
    gap: 22px;
    justify-content: center;
    padding: 16px;
    background-color: #fafafa;
    border-radius: 10px;
  }
}
.left-have{
  margin-left: -164px;
}
.card__price__content {
  .card__price__title {
    margin: 0;
    padding: 0;
    color: #37AC6C;

    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 18px; /* 81.818% */


  }

  .card__price__desc {
    padding-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 38px;

    .crad__price__desc__namad {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 900;
      gap: 10px;
    }
  }
}

