.plans_sec {
  margin-top: 100px;
  margin-bottom: 100px;

}

.plans__title {

  margin-right: 200px;
  margin-left: 140px;
  margin-bottom: 72px;
}

.plans__title_sub {
  color: #D25487;
  text-align: justify;
  font-family: var(--font-roboto) !important;
  font-size: 100px;
  font-style: normal;
  font-weight: 900;

}



.plans__title__text {
  font-family: var(--font-dm);
  font-weight: 900;
  margin: 0;
  margin-top: -50px;
  background: #fff;
  position: relative;
  padding: 5px;
  font-size: 19px;
  letter-spacing: 1.3px;
  margin-left: 58px;

}

//==========  plans --card ======================= //

.certificate{
  margin-right: 43px;
  padding-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  .certificate-img{
    width: 100%;
    border: 1px solid #e2e3e6;
    margin-bottom: 16px;
    border-radius: 10px;
    padding: 8px;

    box-sizing: border-box;
  }
  .certifacate-title{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #393c4e;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-family: var(--font-dm-bold);
  }
  .certifacate-prag{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #393c4e;
    margin-bottom: 5px;
    text-align: center;

  }
}
.ceck-certi{
  display: block;
  text-align: center;
  margin-top: 16px;
  color: #35bab4;
  font-family: var(--font-dm-bold);
}

.certificate,
.plans__crads {
  align-self: start;
  flex: 1 1 284px;
  display: flex;
  align-items: center;
  justify-content: center;

  .plans__crads__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}
.plans__cards_top{
  width: 100%;
}
.plans__card {
  //width: 240px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 20px 0px rgba(0, 0, 0, 0.10);

  .plans__card__title {
    background: #59C9A5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;

    .plans__card__title__text {
      margin-top: 35px;
      margin-bottom: 16px;
      color: #FFFFFF;
      text-align: justify;
      text-shadow: 5px 20px 20px rgba(0, 0, 0, 0.10);

      font-size: 16px;
      font-style: normal;
      font-weight: 900;
      line-height: 18px; /* 52.174% */
    }

    .persenting {
      color: #FFFFFF;
      margin-bottom: 23px;
      font-size: 35px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px; /* 81.25% */
      text-align: right;
    }
  }
}

.plans__card__body {
  //padding: 42px;
  //padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  .plans__card__btn {
    color: #FFF;
    font-family: var(--font-dm-bold);
    padding: 20px 24px;
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    line-height: 18px; /* 100% */
    border-radius: 10px;
    background: #59C9A5;
  }
}

.plans__crad__body__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .plans__crad__body__top_tree {
    color: #444F56;
    text-align: center;
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 18px; /* 128.571% */
  }

  .plans__crad__body__top_two {
    margin-top: 4px;
    margin-bottom: 4px;
    color: #000;
    text-align: center;

    font-size: 17px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px; /* 108.333% */
  }

  .plans__crad__body__top_one {
    line-height: 31px;
    //background: #f5f5f7;
    //border: 1px solid #e0e1e4;
    border-bottom: none;
    margin-bottom: 0;
    color: #444F56;

    font-size: 13px;
    font-style: normal;
    font-weight: 400;

  }

}

.plans-sec {

  width: 1170px;
  margin: auto;
  margin-top: 57px;
}

.plans__card__rigth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

}

.green .plans__card__title,
.green .plans__card__btn {
  background: #59C9A5;
}

.yellow .plans__card__title,
.yellow .plans__card__btn {
  background: #FFBD02;
}

.blue .plans__card__title,
.blue .plans__card__btn {
  background: #2F97C1;
}
.red .plans__card__title,
.red .plans__card__btn {
  background: #1396A0;
}
