.slides {

  width: 1170px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.slides__img_2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about {
  display: flex;
  width: 1170px;
  margin: auto;
  margin-top: 50px;
  column-gap: 60px;

  .about_us_image_sec {
    width: calc(40% - 30px);
    flex: 1 1 calc(40% - 30px);
  }

  .about_us_descriptions {
    width: calc(60% - 30px);
    flex: 1 1 calc(60% - 30px);


    .about__title {
      color: #D25487;
      font-weight: 900;
      font-size: 24px;
      font-family: var(--font-dm);
      margin-bottom: 30px;
    }
  }
}

// about section Home  styles


.about__body__home {
  margin-top: 70px;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  justify-content: center;
  gap: 77px;

  .about__body__home__text {
    font-size: 24px;
    color: #8A8A8A;
    line-height: 32px;
    font-weight: 900;
  }

}

.bread_crumbs_sec {
  width: 1170px;
  margin: auto;
  margin-top: 100px;
}

.plans_page_head {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: #D25487;
  color: #FFFFFF;
  padding: 30px;

}

.plans_tables {
  tr {
    border-bottom: 1px solid #DDDDDD;
  }

  td {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 300;
    vertical-align: top;
    text-align: center;
  }

}
.plans_tables_sec{
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 30px;
  overflow-x: scroll;
}

@media screen and (max-width: 1440px) {
  .plans_tables_sec{
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 30px;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 1024px) {
  .bread_crumbs_sec {
    width: 100%;
    max-width: 100%;
    padding-right: 50px!important;
    padding-left: 50px!important;
  }

  .about {
    width: 100% !important;
    padding-right: 100px;
    padding-left: 100px;
  }
  .plans_tables_sec{
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 30px;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 768px) {
  .about {
    width: 100% !important;
    padding-right: 50px;
    padding-left: 50px;
  }
  .bread_crumbs_sec {
    width: 100%!important;
    margin-top: 40px !important;
    padding-right: 50px;
    padding-left: 50px;
  }
  .plans_tables_sec{
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 30px;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 426px) {
  .about {
    flex-direction: column;

    .about_us_image_sec {
      width: 100%!important;
      flex: 1 1 100%!important;
      margin-bottom: 30px;
    }
    .about_us_descriptions{
      width: 100%!important;
      flex: 1 1 100%!important;
    }
  }
  .about {
    width: 100% !important;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 30px!important;
  }
  .bread_crumbs_sec {
    width: 100%!important;
    margin-top: 40px !important;
    padding-right: 30px;
    padding-left: 30px;
  }

  .plans_tables_sec{
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 30px;
    overflow-x: scroll;
  }
}