.form_group{
  //display: flex;
  //margin-top: 60px;
  //column-gap: 30px;
  .half_input{

  }
}
.form_group_section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;

}
.textAreaInput{
  margin-top: 16px;
  margin-bottom: 16px;
}