.signin {
  height: 100vh;

  .signin__content {

    display: flex;
    height: 100vh;

    .back_link {
      display: flex;
      position: absolute;
      top: 50px;
      left: 70px;
      column-gap: 8px;
    }

    .back_svg {
      margin-right: 8px;
      transition: 0.3s all;
    }

    .back_link:hover .back_svg {
      width: 24px;
    }

    .signin__content__left {
      box-sizing: border-box;
      flex: 1 1 50%;
      padding: 100px 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;


      .signin__content__left__title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 50px;
        gap: 12px;

        h1 {
          margin: 0;
          font-size: 22px;
          font-weight: 900;
          line-height: 32px;
        }
      }

      .signin__content__left__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .signin__content__left__content__title {
          display: flex;
          flex-direction: column;
          margin-bottom: 16px;

          h1 {
            margin-bottom: 32px;
            color: #000;
            //font-family: DM Sans 18pt;
            font-size: 42px;
            font-style: normal;
            font-weight: 900;
            line-height: 40px; /* 95.238% */
          }

          p {
            color: #5a5a5a;
            font-size: 16px;
            font-weight: 900;

          }
        }
      }
    }

    .signin__content__rigth {
      box-sizing: border-box;

      flex: 1 1 50%;
      padding: 22px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}


.form_group__forget__seaved {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .form_group__seaved {
    span {
      font-size: 12px;
      font-weight: 700;
    }
  }

  .form_group__forget {
    a {
      text-decoration: solid !important;
      font-size: 12px;
      font-weight: 700;
    }
  }
}

// btn__sign in
.btn__sign {
  margin-top: 28px;
  padding: 20px 20px;
  width: 100%;

  cursor: pointer;
  color: #FFF;
  font-family: var(--font-dm);
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 18px; /* 100% */
  &:hover {
    background-color: #d51f69;
  }

}

.line {
  margin-top: 22px;
  border: 1px solid #ccc;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    padding: 0 4px;
    background-color: #fff;
    color: #ccc;
  }
}

.form_input_section {
  margin-bottom: 16px;
  height: 75px;

}

.form_input_section_password {
  height: 120px;

  .form_input_section_validator {
    margin-top: 12px;
    padding-right: 8px;
    padding-left: 8px;

  }
}

.box__link {
  margin-top: 20px;
  padding: 8px 32px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 94px;

  span {
    color: #ccc;
    font-size: 14px;
    font-weight: 700;
  }
}

.form_group__forget__seave {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}


.forget__pass_link {
  font-size: 14px;
  font-weight: 700;
}

.input_group {
  margin-bottom: 16px;

}

// btn__sign in
.btn__sign {
  margin-top: 28px;
  padding: 20px 20px;
  width: 100%;

  cursor: pointer;
  color: #FFF;
  font-family: var(--font-dm);
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 18px; /* 100% */
  &:hover {
    background-color: #d51f69;
  }

}

.line {
  margin-top: 22px;
  border: 1px solid #ccc;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    padding: 0 4px;
    background-color: #fff;
    color: #ccc;
  }
}

.form_input_section {
  margin-bottom: 16px;
  height: 75px;

}

.form_input_section_password {
  height: 120px;

  .form_input_section_validator {
    margin-top: 12px;
    padding-right: 8px;
    padding-left: 8px;

  }
}

.box__link {
  margin-top: 20px;
  padding: 8px 32px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 94px;

  span {
    color: #ccc;
    font-size: 14px;
    font-weight: 700;
  }
}

.form_group__forget__seave {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}


.forget__pass_link {
  font-size: 14px;
  font-weight: 700;
}

.input_group {
  margin-bottom: 16px;

}

.you_have_early_acount {
  margin-bottom: 16px;
}

@media screen and (max-width: 1440px) {
  .signin__content__left {
    padding-right: 70px !important;
    padding-left: 70px !important;
  }
}

@media screen and (max-width: 1024px) {
  .signin__content__left {
    padding-right: 50px !important;
    padding-left: 50px !important;
  }

}

@media screen and (max-width: 768px) {
  .signin__content__left {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
  .signin__content__rigth {
    display: none;
  }
}