.chat_main_section {
  min-height: calc(100vh - 400px);
  border: 1px solid #e1e1e1;
  margin-top: 30px;
  border-radius: 10px;
  display: flex;


  .subject__list__sec {
    flex: 1 1 20%;
    width: 20%;
    max-width: 20%;
    border-right: 1px solid #e1e1e1;

    .subject__list_ul {
      display: flex;
      flex-direction: column;

      .subject__list_li {
        cursor: pointer;
        padding: 16px;
        display: flex;
        gap: 8px;
        border-bottom: 1px solid #e1e1e1;
        color: #4f4f4f;
        font-weight: bold;
        .admin_item_prag{
          display: flex;
          flex-direction: column;
        }

      }
    }
  }

  .chat_main__sec {
    position: relative;
    flex: 1 1 80%;
    width: 80%;
    max-width: 80%;
    border-right: 1px solid #e1e1e1;
    background: aliceblue;
    .chat_main_header {
      height: 70px;
      align-items: center;
      border-bottom: 1px solid #e1e1e1;
      padding: 16px;
      display: flex;
      column-gap: 16px;
      justify-content: space-between;

      .subject_name {
        font-weight: bold;
        font-size: 1.2rem;
      }
    }

    .subject_description {
      display: flex;
      column-gap: 16px;
      align-items: center;
    }

    .chat_main__all_section {
      height: calc(100% - 131px);
      overflow-y: scroll;
      .chat_main_user_sec {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: start;
        position: relative;

        .chat_main_user {
          margin-left: 20px;

          padding: 16px;
          background: #e1e1e1;
          border-radius: 10px;
          min-width: 300px;

        }

        .chat_main_user::after {
          content: '';
          display: block;
          position: absolute;
          top: 10px;
          left: 0;
          width: 20px;
          height: 20px;
          background: #e1e1e1;
          clip-path: polygon(100% 0, 0 50%, 100% 100%);
        }
      }

      .chat_main_admin_sec {
        display: flex;
        justify-content: end;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        .chat_main_admin {
          margin-right: 20px;
          padding: 16px;
          background: #D25487;
          border-radius: 10px;
          min-width: 300px;
        }

        .chat_main_admin::after {
          content: '';
          display: block;
          position: absolute;
          top: 10px;
          right: 0;
          width: 20px;
          height: 20px;
          background: #D25487;
          clip-path: polygon(0 0, 100% 57%, 0 100%);
        }
      }
    }
  }
}

.chat_main_user_data {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  color: #585858;
  font-size: 0.675rem;
}

.chat_main__all_footer__sec {
  width: 100%;
  border-top: 1px solid #e1e1e1;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  display: flex;
  gap: 16px;
  .chat_main__input__main{
    flex-grow: 1;
    border: 1px solid #e1e1e1;
    padding: 5px;
    border-radius: 10px;
  }
}

.chat__form{
  display: contents;
}
.chat_label{
  display: block;
  font-size: 0.675rem;
}
.not__found{


  text-align: center;
  color: #4f4f4f;
  padding-top: 32px;
}
.btn__disable:hover,
.btn__disable{
  opacity: 0.4;
}

.have_new_massage__menu{
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 0.675rem;
  color: white;
  text-align: center;
  border-radius: 100%;
  display: inline-block;
  background: #ecd35d;
  transform: translateY(-10px);
}
.have_new_massage{
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 0.675rem;
  color: white;
  text-align: center;
  border-radius: 100%;
  display: inline-block;
  background: #D25487 ;
  transform: translateY(-10px);
}
.archived{
  font-size: 0.675rem;
  float: right;
  color: red;
}
.link_new{
  background: none;
  text-decoration: underline;
}
.item_chat_selected{
  background: #dadada;
}
.item_chat_archived{
  opacity: 0.7;
}



@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1024px) {

}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 425px) {
 .chat_main_section{
   flex-direction: column;
   .subject__list__sec{
     flex : 1 1 100%;
     width: 100%;
     max-width: 100%;
   }
   .chat_main__sec{
     flex : 1 1 100%;
     width: 100%;
     max-width: 100%;
   }
 }
  .chat_main__all_section{
    height: 600px!important;
  }
}

//