.ticket_sec {

  width: 600px;
  margin: auto;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  padding: 30px;

}


.root {
  display: flex;
  // width: 100vh;
  height: 100vh;
  // justify-content: flex-start;
}

.content {
  height: 100vh;
  overflow-y: scroll;
  padding: 53px;
  display: flex;
  flex-direction: column;
  width: 100%;

  .no-padd {
    padding: 0;
  }

  .no-marg {
    margin: 0;
  }
}

// content header
.content__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  // width: 100%;
}

.content__header__title {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h1 {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: var(--font-dm);
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 76.19% */
  }

  span {
    font-size: 18px;
    font-weight: 700;
    color: #8A8A8A;
  }
}

.content__header__icons {
  display: flex;
  justify-content: center;
  // align-items: center;


  .content__header__icons__date {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    gap: 8px;
    align-items: center;
    height: 40px;

    .wallet__in__header {
      min-width: 150px;
      margin-bottom: 16px;
      border: 1px solid #a7a7a7;
      justify-content: center;
      padding: 8px;
      border-radius: 10px;
      display: flex;
      column-gap: 16px;
      align-items: center;

      .wallet__in__price {
        font-weight: 900;
      }
    }
  }
}

.credit_box {
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-weight: bold;
  padding-bottom: 16px;
  font-size: 1rem;
}

.content__header_alarm_box {
  background: #ecd35d;
  border-radius: 10px;
  padding: 16px;
}

.text_decoration {
  text-decoration: underline !important;
}

// content wallets

.content__wallets {
  padding-top: 45px;
  display: flex;
  flex-direction: column;

  .content__wallets__title {
    span {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px; /* 100% */

    }
  }
}

//  ========================= cards wallets ============== //
.content__wallets__cards {
  padding-top: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.no-border {
  border: 0 !important;
}

.text-white {
  color: #ffffff !important;
}

.wallets__card {
  border-radius: 10px;
  border: 1.5px solid rgba(0, 0, 0, 0.60);
  padding: 16px;
  display: flex;
  justify-content: center;
  // align-items: center;
  gap: 22px;

  .wallets__card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    align-items: flex-start;

    .wallets__card__title {
      color: rgba(0, 0, 0, 0.60);
      font-family: var(--font-db);
      font-size: 22px;
      font-style: normal;
      font-weight: 900;
      line-height: 18px; /* 81.818% */


    }

    .wallets__card__namad {
      display: flex;
      justify-content: flex-start;
      gap: 40px;

      .namad {
        color: #000;

        font-family: var(--font-dm);
        font-size: 14px;
        font-style: normal;
        font-weight: 900;
        line-height: 14px; /* 100% */
      }

      .namad__text {
        color: rgba(0, 0, 0, 0.60);

        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: 18px;
      }
    }
  }
}

.wallets__card__add {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 18px 38px;
  background: #FFFFFF;
}

// ======================== charts ==================== //

.content__chrat {
  padding-top: 40px;
  margin-bottom: 30px;

  .content__chart__title {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
  }
}


// ================================ data tabel ================== //

.content__data {
  margin-top: 60px;
  display: flex;
  gap: 60px;

  .content__data__body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 4px 0;
    padding-right: 60px;
    border-right: 1px solid #aaa;
    text-align: left;

    h1 {
      font-size: 18px;
      font-weight: 700;
    }

    span {
      font-size: 16px;
      font-weight: 400;
    }
  }
}


// =============================== tabel content =================== //

.content__tabel__header {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;

  .content__tabel__header {
    display: flex;
    justify-content: space-between;
    // align-items: center;
  }

  .content__tabel__header__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    p {
      font-size: 16px;
      font-weight: 600;
    }

    span {
      svg {
        vertical-align: top;
      }
    }
  }
}

.content__tabel__header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;

  p {
    font-size: 16px;
    font-weight: 600;
  }
}

.content__tabel__today {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .content__tabel__today__header {
    h1 {
      font-size: 24px;
      font-weight: 700;
    }
  }
}


//  ===================== style tabel =================== //
.tabel__today {
  margin-top: 48px;
  display: flex;
  // flex-wrap: nowrap;
  flex-direction: column;
  gap: 24px;

}

.tabel__today__column {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // gap: 100px;
  padding-bottom: 8px;
  border-bottom: 1px solid #aaa;
}

.tabel__today__column__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
}

.tabel__today__column__right {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 40px;
}


.sidebar {
  width: 300px;
  height: 100vh;
  padding: 24px;
  position: relative;

  // justify-content:center;
  //align-items: center;
  //gap: 173px;
  .sidebar_bg {
    background: linear-gradient(180deg, rgba(42, 41, 41, 0.87) 0%, rgb(178, 39, 76) 57.44%, rgba(64, 7, 176, 0.57) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //filter: blur(5px);

  }

  .admin_sidebar_bg {
    background: linear-gradient(180deg, rgba(13, 13, 108, 0.87) 0%, rgb(9, 24, 99) 57.44%, rgba(6, 37, 133, 0.57) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //filter: blur(5px);

  }


  .avatar_sec {
    margin-bottom: 1rem;
  }


  .sidebar__footer {
    position: absolute;
    bottom: 32px;

    ul {
      li {
        a {
          color: #FFFFFF;
        }

      }
    }
  }

  .sidebar__content {
    margin-top: 24px;
  }

  .search_sidebr {

  }

}


.sidebar__title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
  z-index: 2;
  position: relative;

  span {
    color: #FFFFFF;
    font-family: var(--font-dm);
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 18px; /* 90% */
  }
}

.sidebar__content__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  list-style: none;

  .links__item {
    .link {
      cursor: pointer;
      padding: 6px 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;

      font-weight: 700;

      text-decoration: none;

      color: #fff;
      font-family: var(--font-dm);
      font-size: 0.875rem;
      font-style: normal;

      line-height: 18px; /* 100% */

      span {
        display: flex;

        img {
          vertical-align: center;
        }
      }
    }

    .links__item_text_danger {


      color: rgba(20, 189, 150, 0.87) !important;
    }

    .links__item_text_red {


      color: rgb(255, 129, 0) !important;
    }
  }
}

.sidebar__user {
  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;

  .sidebar__user__img {
    border-radius: 50%;
  }

  span {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;

  }

}


.procress_bar {
  display: flex;
  column-gap: 30px;
  margin-bottom: 16px;

  > .procress_bar_part {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;

    .plans__title_sub {
      color: #DDDDDD;
      text-align: justify;
      font-family: var(--font-roboto) !important;
      font-size: 60px;
      font-style: normal;
      font-weight: 900;

    }


    .plans__title__text {
      font-family: var(--font-dm);
      font-weight: 900;
      margin: 0;
      margin-top: -50px;
      //background: #fff;
      position: relative;
      padding: 5px;
      font-size: 16px;
      letter-spacing: 1.3px;
      margin-left: 58px;


    }

    > span {
      background: #DDDDDD;
      height: 10px;
      border-radius: 10px;
      width: 100%;
      display: block;
    }
  }


  > .procress_bar_part__active {
    .plans__title__text {
      transform: scale(1);
      font-size: 19px;
    }

    .plans__title_sub {
      color: #D25487;
      font-size: 100px;
      transform: scale(1);

    }

    > span {
      background: #D25487;
    }
  }
}


.amount__section {
  .amount__section__body {
    display: flex;
    margin-top: 60px;
    column-gap: 40px;

    .amount__section__form {
      flex: 1 1 70%;

      .input_amount_section {
        margin-bottom: 20px;
      }
    }

    .term_and_conditions__section {
      flex: 1 1 30%;
      padding: 24px;
      padding-right: 0;
      background: rgba(221, 221, 221, 0.18);
      height: 400px;

      border-radius: 10px;

      .term_and_conditions__header {
        font-weight: 700;
        margin-bottom: 16px;
      }

      .term_and_conditions__body {
        overflow-y: scroll;
        height: 250px;
        padding-right: 24px;
      }

      .term_and_conditions__footer {
        margin-top: 30px;
      }

    }


  }


}


.get__payment__section {
  margin: auto;
  text-align: center;
  margin-top: 200px;
}

.payment_method_choose {
  width: 100%;
}


.bg_pink {
  background: #D25487 !important;
  color: #FFFFFF;
}

.input_amount_btns {
  > button {
    color: #FFF;
    font-family: var(--font-dm-bold);
    padding: 20px 24px;
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    line-height: 18px;
    border-radius: 10px;
  }

  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}


.not_found__section {
  text-align: center;

  .get__not_found {
    .title {
      font-size: 10rem;
      color: #ff3c20;
      font-weight: 900;
    }

    .pragh {
      color: #ff3c20;
      margin-bottom: 1.2rem;
      font-weight: 700;
    }
  }

  .btn__wrapper {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    margin-top: 60px;
  }
}


.refresh__section {
  text-align: center;

  .get__refresh {
    .title {
      font-size: 5rem;
      color: #ecd35d;
      font-weight: 900;
    }

    .pragh {
      color: #ecd35d;
      margin-bottom: 3rem !important;
      font-weight: 700;
    }
  }

  .btn__wrapper {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    margin-top: 60px;

    .btn {
      background: #ecd35d;
    }
  }
}


.success__section {
  text-align: center;

  .get__success {
    margin-top: 70px;

    .title {
      margin-bottom: 60px;
      font-size: 3rem;
      color: #2bef79;
      font-weight: 900;
    }
  }

}


.red > .procress_bar_part__active > .plans__title > .plans__title_sub {
  color: #ff3c20 !important;
}

.red > .procress_bar_part__active > span {
  background: #ff3c20 !important;
}


.green > .procress_bar_part__active > .plans__title > .plans__title_sub {
  color: #2bef79 !important;
}

.green > .procress_bar_part__active > span {
  background: #2bef79 !important;
}


.widrawal_main_sec {
  .widrawal_main_sec_grid {
    display: flex;
    width: 1170px;
    margin: auto;
    margin-top: 150px;


    .widrawal_description {
      width: 40%;
      max-width: 40%;
      flex: 1 1 40%;


      padding: 24px;
      padding-right: 0;
      background: rgba(221, 221, 221, 0.18);

      border-radius: 10px;

      .widrawal_description_head {
        font-weight: 700;
        margin-bottom: 16px;

      }

      .widrawal_description_text {
        overflow-y: scroll;
        height: 250px;
        padding-right: 24px;
      }
    }


    .widrawal_form {
      width: 50%;
      max-width: 50%;
      flex: 1 1 50%;
      padding-right: 30px;

      .widrawal_input {
        margin-bottom: 16px;
      }

      .widrawal_btn {
        color: #FFFFFF;
        font-weight: bold;
      }
    }
  }
}

.general_info_sec {

  .general_info_sec {
    display: flex;
    width: 1170px;

    background: #ecd35d;
    column-gap: 60px;
    row-gap: 30px;
    flex-wrap: wrap;


  }
}


.general_info_input_sec {
  padding-bottom: 16px;
}

.general_info_input_btn {
  display: flex;
  justify-content: end;
}

.updateGeneralInfo {
  color: #FFFFFF;
}

.content__transaction_table {
  display: flex;
}

.dahsboard_menu {
  display: none !important;
}

.sidebar {
  z-index: 2;


}

.content__header {
  margin-top: 50px;
}


.for_scrol {
  overflow-x: scroll;
  padding-bottom: 30px;
}

.wallets__card {
  width: calc(33.33334% - 8px);
  max-width: calc(33.33334% - 8px);
  flex: 1 1 calc(33.33334% - 8px);
}

.wallets__card__add {
  width: 200px;
  flex: 1 1 200px;
  max-width: 200px;
}


.chenge_password_section {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  .chanege_password_form {
    border-radius: 10px;
    background: rgba(221, 221, 221, 0.18);
    padding: 30px;
    margin-top: 60px;
    width: 600px;
  }

  .form_input_section_validator {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.btns_sec_tab1 {
  display: flex;
  justify-content: end;
}

//=============================two factor===========================


.authticator {
  display: flex;
  width: 600px;
  padding: 30px;
  background: rgba(221, 221, 221, 0.18);
  gap: 20px;
  flex-direction: column;

  .qr {
    .heaad_style {
      font-size: 20px;
      font-weight: bold;
      color: rgb(255, 59, 0);
    }

    width: calc(100%);
    max-width: calc(100%);
    flex: 1 1 calc(100%);
    display: flex;
    flex-direction: column;

    .secrect {
      display: flex;
    }

    .qr_section {
      margin-top: 8px;
      margin-bottom: 16px;

      display: flex;
      justify-content: center;

      .qr_image {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
      }
    }

    .seprator {
      text-align: start;
      display: flex;
      align-items: center;
      gap: 8px;

      .seprator_pragh {
        color: #4f4f4f;
        font-weight: bold;
      }

      .seprator_pragh_seprator {
        flex-grow: 1;
        display: block;
        background: #4f4f4f;

        height: 4px;
        border-radius: 10px;
      }
    }

    .secrect {
      margin-top: 8px;
      margin-bottom: 16px;
      display: flex;
      justify-content: center;
    }
  }

  .inputs {
    width: calc(50% - 10px);
    max-width: calc(50% - 10px);
    flex: 1 1 calc(50% - 10px);
  }

  .btns_sec {
    display: flex;
    justify-content: space-between;
  }
}


@media screen and (max-width: 1440px) {


}

@media screen and (max-width: 1024px) {
  .procress_bar_part {
    width: calc(25% - 15px);
    max-width: calc(25% - 15px);
    flex: 1 1 calc(25% - 15px);
  }
  .content {
    width: 80%;
  }
  .content__header {
    //width: 80%;
  }
  .wallets__card {
    width: calc(50% - 8px);
    max-width: calc(50% - 8px);
    flex: 1 1 calc(50% - 8px);
  }

  .wallets__card__add {
    width: 200px;
    flex: 1 1 200px;
    max-width: 200px;
  }
}


@media screen and (max-width: 768px) {
  .wallets__card {
    width: 100%;
    max-width: 100%;
    flex: 1 1 100%;
  }

  .wallets__card__add {
    width: 200px;
    flex: 1 1 200px;
    max-width: 200px;
  }
  .procress_bar {
    display: none;
  }
  .amount__section {
    width: 100%;

  }
  .amount__section__body {
    flex-direction: column;
    width: 100%;
  }
  .term_and_conditions__section {
    margin-top: 16px;
  }
  .input_amount_btns {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1440px) {
  .widrawal_main_sec {
    margin-top: 30px !important;
  }
  .widrawal_main_sec_grid {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 1024px) {
  .widrawal_main_sec_grid {
    width: 100% !important;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .chanege_password_form {
    border-radius: 10px;
    background: rgba(221, 221, 221, 0.18);
    padding: 30px;
    margin-top: 30px !important;
    width: 100% !important;
  }
  .widrawal_main_sec_grid {
    width: 100% !important;
    justify-content: center;
    flex-direction: column;
  }
  .widrawal_description {
    max-width: 100% !important;
    width: 100% !important;
    flex: 1 1 100% !important;
    margin-bottom: 30px !important;
  }
  .widrawal_form {
    padding: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
    flex: 1 1 100% !important;
    margin-bottom: 30px !important;
  }
  .widrawal_main_sec {
    margin-top: 30px !important;
  }
  .widrawal_main_sec_grid {
    margin-top: 0 !important;
  }
  .ticket_sec {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 426px) {

  .chanege_password_form {
    border-radius: 10px;
    background: rgba(221, 221, 221, 0.18);
    padding: 30px;
    margin-top: 60px;
    width: 100%;
  }
  .ticket_sec {
    width: 100%;
    max-width: 100%;
  }

  .content {
    width: 100%;
  }
  .procress_bar_part {
    display: none !important;
  }
  .mobile_show {
    display: block !important;
  }

  .sidebar {
    display: none;
  }
  .content {
    padding-right: 30px !important;
    padding-left: 30px !important;

  }
  .content__header__title {
    font-size: 1rem !important;
  }
  .content__header__title > h1 {
    font-size: 1rem !important;
  }
  .content__header {
    //flex-direction: column;
  }
  .dahsboard_menu {
    display: block !important;
  }
  .amount__section {
    width: 100%;

  }
  .amount__section__body {
    flex-direction: column;
    width: 100%;
  }
  .term_and_conditions__section {
    margin-top: 16px;
  }
  .input_amount_btns {
    margin-bottom: 30px;
  }

  .wallets__card {
    width: 100%;
    flex: 1 1 100%;
  }
  .content__wallets__cards {

  }
  .content__transaction_table {
    padding-bottom: 30px;
  }
}


.waith__section {
  color: #D25487;
  text-align: center;


  .pragh {
    margin-top: 30px;
    color: #D25487;
    margin-bottom: 3rem !important;
    font-weight: 700;
  }

}