
.footer {
  position: relative;
  padding: 100px 0;
  border-radius: 10px;

  display: flex;
  justify-content: center;

  .footer_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }

  .footer__card {
    box-shadow: 60px -58px 87px 202px rgb(167 167 167 / 10%);

    width: 80%;
    margin: auto;
    position: relative;
    z-index: 2;
    padding: 40px;
    background-color: #FFFFFF;
    border-radius: 10px;

    .main__of_footer {
      display: flex;
      justify-content: space-between;
      column-gap: 30px;
    }
  }
}

.copywrite_text {
  border-top: 1px solid #e5e7eb;
  margin-top: 16px;
  padding-top: 16px;
  color: #484747;
  text-align: center;
}

.footer__card__left {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 350px;

  .footer__card__left__logo__it {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.footer__card__aline__end {
  flex: 1 1 25%;
  display: flex;
  //flex-direction: column;
  justify-content: center;
}

.footer__card__left,
.footer__card__right {
  flex: 1 1 25%;
}

.footer__card__left__desc {

  .footer__crad__left__dcsc__text {


    font-weight: 300;

  }
}

.footer__card_social__media_links {
  margin-top: 16px;
  padding-left: 16px;
  display: flex;
  gap: 8px;
}

.footer__card__right {

  display: flex;
  justify-content: space-between;

  .footer__card__link {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-left: 70px;

    .footer__link {


    }
  }

}

.footer__card__link__social_link {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.footer__card__aline__height_test {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__card__pragh_pragh {
  color: #484747;
  font-weight: bold;
}

@media screen and (max-width: 425px) {
  .footer__card {
    width: 100%;
    flex-direction: column;
  }
  .main__of_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 30px;
  }
  .footer__card__left {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .footer__card__link {
    padding: 0 !important;
  }
  .footer__card__right {
    margin-bottom: 32px !important;

  }
  .footer__card__pragh_pragh {
    margin-top: 16px !important;
  }
  .footer__card__link__social_link {
    justify-content: center;
  }
  .footer__card__link {
    justify-content: center;
  }
  .footer__card__aline__end {
    flex: 1 1 100%;
    width: 100%;
    max-width: 100%;
  }
  .footer__card__aline__height_test {
    width: 100%;
  }
  .mobile_center {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}