@import './variable';

html {
  overflow-x: hidden;
  width: 100%;

  body {
    overflow-x: hidden;
    width: 100%;
  }
}

.header {
  width: 1170px;
  margin: auto;
  padding-top: 42px;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

// header__left
.header__left {
  display: flex;
  align-items: center;
  padding-top: 0;

  .header__brand {
    display: flex;
    gap: 12px;

    span {
      color: #000;
      font-family: var(--font-dm);
      font-size: 22px;
      font-style: normal;
      font-weight: 900;
      line-height: 44px; /* 81.818% */
    }
  }
}

// navbar

.header__nav {
  display: flex;
  justify-content: center;
  padding-left: 48px;

  .nav {
    list-style: none;
    display: flex;
    justify-content: center;

    .nav_link {
      color: #393c4e;;
      font-family: var(--font-dm-bold);
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px; /* 112.5% */
      padding-right: 28px;


      //font-size: $font;

    }
  }
}


// header__right
.header__right {
  display: flex;
  align-items: center;
  gap: 12px;
  // flaG
  .flag {
    display: flex;
    align-items: center;
    gap: 8px;

    .flag_nav {
      //font-size: $font;
      font-weight: 600;

      &::after {
        content: "";
        padding: 1px;
        width: 0;
        height: 40px;
        background-color: #000000;
        margin-left: 8px;
      }
    }

  }

  // .header__right__icon
  .header__right__icon {
    display: flex;
    gap: 12px;

    .icon-img {
      height: 28px;
      width: 28px;
    }
  }
}


// text-font-size
.text-s-md {
  font-size: $font;
  font-weight: 500;
}

.text-s-sm {
  font-size: $font-sm;
  font-weight: 500;
}

// widths-style


// icon
.circle-icon {
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  padding: 6px;
  background-color: white;
  border-radius: 120px;

}

// btn
.btn {
  color: #000000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px 24px;
  border: 0;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  gap: 16px;
}

.btn-dark {
  background-color: #000;
  color: #fff;
}

.btn-green {
  background-color: #59C9A5;
}

.tx-red {
  color: #D25487;
}

.tx-green {
  color: #37AC6C;
}

.js-center {
  justify-content: center;
}

// gap style


.p-20 {
  padding-top: 150px;
}

.p-num {
  padding-top: 100px;
}

.mt-5 {
  margin-top: 14px;
}

.mt-70 {
  margin-top: 72px;
}

.g-1 {
  gap: 1px;
}

.g-2 {
  gap: 3px;
}

.btn-blue {
  background-color: $blue;
}

.btn-red {
  background-color: #D25487;
}

.bg-blue {
  background: $blue;
}

.slide-title {
  margin-bottom: 30px;
  margin-right: 20px;

  h1 {
    color: $white;
    font-weight: 600;
  }
}

.f-2 {
  font-size: 14px;
  font-weight: 400;
}

.tx-normal {
  font-size: $font;
}

.tx-sm {
  font-size: $font-sm;
}

.tx-md {
  font-size: $font-md;
}

.tx-lg {
  font-size: $font-lg;
}

.tx-xlg {
  font-size: $font-xlg;
}

.tx-bg-white {
  color: $white;
}

.nav_link {
  text-decoration: none;
  color: $black;
}


//  _-------------------------- grid --------------


.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}


.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.mt-2 {
  margin-top: 14px;
}

.tx-white {
  color: #fff;
}

.tx-black {
  color: #000 !important;
}

.tx-gray {
  color: #ccc;
}

.tx-16 {
  font-size: 16px !important;
  font-weight: 500;
}

.tx-black__10 {
  color: rgba(0, 0, 0, 0.60);
}


//  ========================== bg ================== //
.bg-red {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 19.51%, rgba(255, 255, 255, 0.12) 81.71%), #D25487;
}


// ======================== border ======================== //
.border {
  border: 1.5px solid #E2E2E8;
}

.border-roted {
  border: 1px dashed #ccc;
}

.border-none {
  border: none !important;
}

.align-center {
  align-items: center;
}

//  =================================== back grounds ===================== //
.bg-blue {
  background: rgba(63, 127, 224, 0.20);;
}

.btn-one {
  background: #D25487;
  color: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 16px;
  display: block;
  height: auto;
}
.btn-admin{
  background: rgb(6, 37, 133);
  color: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 16px;
  display: block;
  height: auto;
}
.btn-two{
  border-color: #D25487!important;
  color: #D25487;
  border-radius: 10px;
  width: 100%;
  padding: 16px;
  display: block;
  height: auto;
}

.disabled-btn {
  background: #d38ba2;
}


[data-slot="error-message"] {
  text-align: right;
}

.login-link-head {
  color: black;
}

.text__class {
  flex: 0 0 250px;
}


.green {
  background: #59C9A5 !important;
}

.yellow {
  background: #FFBD02 !important;
}

.blue {
  background: #2F97C1 !important;
}

.red {
  background: #1396A0 !important;
}

.avatar-name {
  color: #FFFFFF !important;
  z-index: 2;
}

.sidebar-search-input-main-wrapper {
  height: 40px;
}

.sidebar-search-input-wrapper {
  height: 40px;
}

.payment-radio-button-base {

  column-gap: 30px;
  flex-direction: row-reverse;
  margin-top: 0px;
  flex-grow: 1;
  padding: 16px 12px;

  border-radius: 10px;
  box-sizing: border-box;
  border-color: rgba(229, 231, 235, 0.27)
}


.radio-group-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 30px;

}

.radio-group-label {
  color: black !important;
  font-weight: 700 !important;
  font-size: 1rem !important;

}

.payment-radio-button-labelWrapper {

}

.payment-radio-button-label {
  display: flex;
  gap: 30px;
  align-items: center;
}

.payment-radio-button-controller {
  background: #D25487;

}

.payment-radio-button-description {

}

.group[data-selected=true] .group-data-\[selected\=true\]\:border-primary {
  border-color: #D25487 !important;
}

.payment-radio-button-base[data-selected=true] {
  border: 2px solid #D25487 !important;
}

.radio-custom-descrption {
  display: block;
  font-weight: 400;
  color: #4f4f4f;
  font-size: 0.875rem;
}

.radio-custom-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.term-conditions-check-box-label {
  color: #D25487;
}

.term-conditions-check-box-label-selected {
  color: #5acd1f;
}

.sniper-label {

}

.sniper-c1 {
}

.sniper-c2 {

}

.base {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1 !important;
}

.dashbord_menu_logo {
  opacity: 0;
}

@media screen and (max-width: 768px) {

  .radio-group-wrapper {
    flex-direction: column !important;
    padding-left: 5px;
    padding-right: 5px;
  }
  .radio-group-label {
    width: 100%;
    margin-bottom: 8px !important;
  }
  .payment-radio-button-base{
    width: 100%;
    margin-bottom: 8px !important;
  }
  .radio-group-label{
    margin-bottom: 15px!important;
  }

}
@media screen and (max-width: 426px) {
  .dashbord_menu_logo {
    opacity: 1;
  }
  .radio-group-wrapper {
    flex-direction: column !important;
    padding-left: 5px;
    padding-right: 5px;
  }
  .radio-group-label {
    width: 100%;
    margin-bottom: 8px !important;
  }
  .payment-radio-button-base{
    width: 100%;
    margin-bottom: 8px !important;
  }
  .radio-group-label{
    margin-bottom: 15px!important;
  }
  .text__class {
    flex: unset!important;
  }
  .test-menu{
    background: #FFFFFF;
  }
}