// banner section
.banner {
  display: flex;
  position: relative;
  //margin-top: 220px;
  //padding: 220px 0;
  //padding-bottom: 242px;


  // banner content
  .main_background {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

  }

  .banner__content {
    height: calc(100vh - 100px);
    padding-right: 0px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    //position: absolute;
    //top: 0;
    //left: 50%;
    width: 50%;


  }

  .banner__content__rartines {
    display: flex;
    width: 50%;
    z-index: 5;

    .banner__content__rartines_trasaction_main_sec {
      width: 600px;
      margin: auto;

      .withdrawal_summery_main_sec {
        height: 400px;
        margin-left: 70px;
      }

      .withdrawal_summery_header {

        display: flex;
        justify-content: space-between;
        align-items: center;

        .withdrawal_summery_title {
          display: flex;
          font-weight: bold;
          column-gap: 32px;
          align-items: center;

          .withdrawal_summery_title_price {
            display: flex;
            column-gap: 8px;
            align-items: center;
          }
        }

        .withdrawal_summery_sub_title {
          color: #505050;
          font-size: 0.685rem;
        }
      }
    }


  }

}

.banner__content__title__text {
  font-family: var(--font-dm) !important;
  font-size: 64px;
  font-weight: 900 !important;
  line-height: 65px;
  margin-bottom: 22px;
}

.banner__content__title_span {
  font-size: 64px;
  font-weight: 900;
  line-height: 65px;
  height: 200px;
  display: block;
}

.banner__content__desc {
  margin-top: 38px;
  font-size: 20px;
  font-weight: 500;

}

.banner__content__button {
  a {
    //display: flex;
    //display: inline-block;
    //text-decoration: 0;
    > span {
      display: flex;
    }

    font-size: 15px;
  }

  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 42px;
}

.banner__content__rartines {
  margin-top: 42px;
  //display: flex;
  //gap: 12px;

  .banner__slider {


  }

  .banner__content__rartines__text {

    display: block;
    margin: 0;
    padding: 0;
    color: #000;
    text-align: justify;
    font-family: var(--font-dm);
    font-size: 21px;
    font-style: normal;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 900;
    //line-height: 32px; /* 145.455% */
  }

  .banner__content__rartines__logos {
    align-items: center;
    display: flex;
    gap: 14px;
  }
}

.banner__content__rartines__logo {
  margin-right: 32px;
  margin-left: 32px;
}

.card__prices {
  position: relative;
  z-index: 3;
  display: flex;

  margin-bottom: 14px;
  gap: 18px;

  .crad__price {
    display: flex;
    align-items: flex-start;
    gap: 22px;
    justify-content: center;
    padding: 16px;
    background-color: #fafafa;
    border-radius: 10px;
  }
}

.left-have {
  margin-left: -164px;
}

.card__price__content {
  .card__price__title {
    margin: 0;
    padding: 0;
    color: #37AC6C;

    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 18px; /* 81.818% */


  }

  .card__price__desc {
    padding-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 38px;

    .crad__price__desc__namad {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 900;
      gap: 10px;
    }
  }
}

.advantages_sec {
  position: relative;

  //width: 1170px;
  margin: auto;
  margin-top: 54px;
  margin-bottom: 100px;

  > .main_background {
    top: -100px;
    width: 100%;
    position: absolute;
    filter: blur(60px);
    opacity: 0.5;
    transform: rotateY(45deg);
  }


}

.its_right {
  text-align: right;
}

h1.plans__title__text.its_right {
  margin-right: 62px;
}

.advantages {
  width: 1170px;
  margin: auto;

  .advantages__title {

    span {
      font-size: 24px;
      font-weight: 600;
    }

    .advantages__title__text {
      padding-top: 14px;
      font-size: 34px;
      font-weight: 900;
    }
  }
}

.advantages__title__cards {

}

.advantages__cards {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.advantages__card {
  border-top: 8px solid #2F97C1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;
  box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.10);
  height: 319px;

  .advantages__card__title {
    font-size: 20px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 12px;
  }

  .advantages__card__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    height: 173px;
  }
}

.withdrawal_summery {

  margin-left: 50px;
  background: rgba(255, 255, 255, 0.53);
  border: 1px solid #a2a2a2;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.1);

}


.have-background {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #dddddd;
}


.plans_sec {
  margin-top: 0 !important;
  margin-bottom: 100px;
  width: 100%;
  max-width: 100%;
  flex: 1 1 100%;
}

.plans__title {
  position: relative;
  z-index: 3;
  margin: auto;
  width: 1170px;
  margin-right: 200px;
  margin-left: 140px;
  margin-bottom: 72px;
}

.plans__title_sub {
  color: #D25487;
  text-align: justify;
  font-family: var(--font-roboto) !important;
  font-size: 100px;
  font-style: normal;
  font-weight: 900;

}


.plans__title__text {
  font-family: var(--font-dm);
  font-weight: 900;
  margin: 0;
  margin-top: -50px;
  //background: #fff;
  position: relative;
  padding: 5px;
  font-size: 19px;
  letter-spacing: 1.3px;
  margin-left: 58px;

}

//==========  plans --card ======================= //

.certificate {
  width: calc(15% - 15px);
  max-width: calc(15% - 15px);
  flex: 1 1 calc(15% - 15px);
  padding-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  align-self: end;
  align-self: end !important;
  align-content: end;

  .certificate_img {
    width: 100%;
    border: 1px solid #e2e3e6;
    margin-bottom: 16px;
    border-radius: 10px;
    padding: 8px;

    box-sizing: border-box;
  }

  .certifacate_title {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #393c4e;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-family: var(--font-dm-bold);
  }

  .certifacate_prag {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #393c4e;
    margin-bottom: 5px;
    text-align: center;

  }
}

.ceck_certi {
  display: block;
  text-align: center;
  margin-top: 16px;
  color: #35bab4;
  font-family: var(--font-dm-bold);
}

.certificate,
.plans__crads {
  align-self: start;
  flex: 1 1 284px;
  display: flex;
  align-items: center;
  justify-content: center;

  .plans__crads__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

.plans__cards_top {
  width: 100%;
}

.plans__card {
  //width: 240px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 20px 0px rgba(0, 0, 0, 0.10);

  .plans__card__title {
    background: #59C9A5;
    padding: 24px 24px 24px 36px;
    display: flex;
    flex-direction: column;
    text-align: center;

    .plans__card__title__text {
      text-align: left;
      margin-bottom: 16px;
      color: #FFFFFF;

      text-shadow: 5px 20px 20px rgba(0, 0, 0, 0.10);

      font-size: 1.125rem;
      font-style: normal;
      font-weight: 900;

    }

    .plans__card_sub_title {
      color: #FFFFFF;
      opacity: 0.8;
      font-size: 1rem;
      text-align: left;
    }

  }
}

.plans__card__body {
  //padding: 42px;
  //padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  .plans__card__persenting {
    .persenting {
      color: #000000;
      margin-bottom: 23px;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: 26px; /* 81.25% */
      text-align: right;
    }

    .sub_persenting {
      font-size: .875rem;
      color: #000000;
      opacity: 0.8;
    }

    margin-bottom: 32px;
  }

  .plans__card__btn {
    color: #FFF;
    font-family: var(--font-dm-bold);
    padding: 20px 24px;
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    line-height: 18px; /* 100% */
    border-radius: 10px;
    background: #59C9A5;
  }
}

.plans__crad__body__top {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-bottom: 16px;

  .plans__crad__body__top_tree {
    color: #444F56;
    text-align: left;
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 18px; /* 128.571% */
  }

  .plans__crad__body__top_two {
    margin-top: 4px;
    margin-bottom: 4px;
    color: #000;
    text-align: left;
    width: 100%;
    font-size: 17px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px; /* 108.333% */
  }

  .plans__crad__body__top_one {
    line-height: 31px;
    //background: #f5f5f7;
    //border: 1px solid #e0e1e4;
    border-bottom: none;
    margin-bottom: 0;
    width: 100%;
    color: #444F56;

    font-size: 13px;
    font-style: normal;
    font-weight: 400;

  }

  .plans__crad__body__item {
    display: flex;
    column-gap: 8px;
    margin-bottom: 16px;
    justify-content: start;
    text-align: left;
    width: 100%;

    .plans__crad__body__item__text {
      font-size: 0.875rem;
      color: black;
      opacity: 0.8;
    }
  }

}

.plans_sec {

  width: 1170px;
  margin: auto;
  margin-top: 57px;
}

.plans__card__rigth {
  display: flex;
  column-gap: 8px;
  color: black;
  justify-content: center;
  align-items: center;


}

.text-green {
  color: #59C9A5;

}

.green .plans__card__title,
.green .plans__card__btn {
  background: #59C9A5;
}

.yellow .plans__card__title,
.yellow .plans__card__btn {
  background: #FFBD02;
}

.blue .plans__card__title,
.blue .plans__card__btn {
  background: #2F97C1;
}

.red .plans__card__title,
.red .plans__card__btn {
  background: #1396A0;
}


.about {


  width: 1170px;
  margin: auto;

  .about__title {
    text-align: right;

    h1 {
      font-size: 34px;
      font-weight: 700;
    }

    span {
      font-size: 22px;
      font-weight: 700;
    }
  }

  .about__body {
    padding: 74px 0;

    .about__body__text {
      font-size: 24px;
      //color:$secondary;
      font-weight: 700;
      line-height: 32px;
    }
  }
}


// about section Home  styles
.about__body__home {
  margin-top: 70px;
  display: flex;
  padding: 20px;

  justify-content: center;
  gap: 77px;

  .about__body__home__text {

    width: 60%;
    max-width: 60%;
    flex: 1 1 60%;

    .about__body__home__title {
      position: relative;
      z-index: 4;
      font-size: 20px;
      font-weight: 900;
      margin-top: 0;

      color: black;
      font-size: 2rem;

      margin-bottom: 60px;
    }

    .about__body__home__title_description {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.77);
      font-weight: 500;
      line-height: 32px;
    }

  }

  .about__body__home__btn::after {
    content: '';
    display: block;
    width: 70px;
    height: 300px;
    opacity: 0.5;
    background: #D25487;
    position: absolute;
    top: -15px;
    left: -30px;
  }

  .about__body__home__btn {
    position: relative;
    width: 30%;
    max-width: 30%;
    flex: 1 1 30%;

    .about__body__home__image {
      position: relative;
      z-index: 4;
      width: 100%;
    }


    .about__body__home__btn {

    }
  }


}

.team {


  position: relative;

  //width: 1170px;
  margin: auto;
  margin-top: 54px;
  margin-bottom: 100px;

  .main_background {
    position: absolute;
    width: 100%;
    opacity: 0.3;

  }

  .team__title {
    .team__title__text {
      font-size: 34px;
      font-weight: 900;
      color: #000000;
    }
  }
}


.our_team_slider_controller {

  height: 500px !important;

}

.our_team_description {
  width: 100%;
  max-width: 100%;
  flex: 1 1 100%;
  z-index: 3;

  .our_team_description_title {
    position: relative;
    z-index: 4;
    font-size: 20px;
    font-weight: 900;
    margin-top: 0;
    color: black;
    font-size: 2rem;
    margin-bottom: 60px;
  }

  .our_team_description_text {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.77);
    font-weight: 500;
    line-height: 32px;

  }
}

.our_team_slider_controller {
  display: flex !important;
  height: 500px !important;

}

.team__body {
  width: 1170px;
  margin: auto;
  display: flex;
  gap: 30px;
  justify-content: space-between;

  .our_team_slider {
    display: none;
    width: 50%;
    max-width: 50%;
    flex: 1 1 50%;
    height: 500px !important;
    margin-top: 100px;
  }


}


// ------------ our team card__team-------------//
.team__card {

  position: relative;
  display: flex;
  align-items: center;
  margin: 20px;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 30px;
  margin-right: 0;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 5px 1px 5px 0px rgba(0, 0, 0, 0.1);

  border: 1px solid #ededed;
  height: 100px;

  justify-content: end;

  .team__card__img {
    width: 138px;
    height: 134px;
    position: absolute;
    bottom: 0;
    left: 0;
  }


  .team__card__body {
    width: calc(100% - 160px);
    padding: 10px;
  }

  .team__card__body__title {
    margin: 0;
    white-space: nowrap;
    //color: #35bab4;
    font-family: var(--font-dm-bold);
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 18px; /* 81.818% */
  }

  .team__crad__body__desc {
    margin-bottom: 0;

    //color: #81bd4f;
    font-size: 14px;
    margin-top: 6px;
    font-family: var(--font-var);

    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 100% */
  }

  .team__card__body__icon {
    padding-top: 8px;
    display: flex;
    justify-content: flex-end;

    .team__card__body__icon__img {
      height: 28px;
      width: 28px;
    }
  }
}

.team {
  .plans__title {
    width: 1170px;
    margin: auto;
    margin-bottom: 100px;
    margin-right: 500px;
  }
}

.procress_bar {
  display: flex;
  column-gap: 50px;

  > div {
    flex: 1 1 30%;

    > span {
      margin-top: 16px;
      height: 10px;
      background: #484747;
      border-radius: 10px;
      display: block;
      width: 100%;
    }

    > span.active {
      background: #D25487 !important;
    }

    > .disable {


    }

  }
}


.plan_main_sec {
  display: flex;
  width: 1170px;
  column-gap: 30px;
  margin: auto;
  align-items: end;
  align-content: end;
  flex-wrap: wrap;
  margin-bottom: 100px;
}


//------------------------------faq--------------------------

.faq_main_sec {
  position: relative;
  width: 1170px;
  margin: auto;
  display: flex;
  padding-top: 100px;
  padding-bottom: 50px;

  .faq_main_title_sec {
    .faq_main_title_number {
      color: #D25487;
      text-align: justify;
      font-family: var(--font-roboto) !important;
      font-size: 100px;
      font-style: normal;
      font-weight: 900;
    }

    .faq_main_title_title {

      font-weight: 900;
      margin: 0;
      margin-top: -50px;
      position: relative;
      padding: 5px;
      font-size: 19px;
      letter-spacing: 1.3px;
      margin-left: 58px;
      display: block;
    }

    .faq_main_title_btn {
      color: #FFFFFF;
      margin-top: 32px;
      width: 100%;
    }
  }

  .faq_item_sec {
    margin-left: 50px;
    flex: 1 1 70%;
    max-width: 70%;

    .faq_item {
      border: 1px solid #a2a2a2;
      border-radius: 10px;
      padding: 16px;
      box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.1);
      margin-bottom: 16px;

      .faq_item_head {
        cursor: pointer;
        display: flex;
        column-gap: 8px;
        align-items: center;
        font-weight: bold;
      }

      .faq_item_body {
        margin-top: 16px;
        padding-top: 16px;
        font-weight: 400;
        border-top: 1px solid #c1c1c1;
        padding-right: 8px;
        padding-left: 8px;
        font-size: 15px;
        line-height: 32px;
        color: rgba(0, 0, 0, 0.77)
      }
    }
  }

}


//----------------------ticketToUse-----------------------------

.ticket_to_us_main_sec {
  position: relative;
  width: 1170px;
  margin: auto;
  display: flex;
  padding-top: 100px;
  padding-bottom: 50px;

  .faq_main_title_sec {
    .faq_main_title_number {
      color: #D25487;
      text-align: justify;
      font-family: var(--font-roboto) !important;
      font-size: 100px;
      font-style: normal;
      font-weight: 900;
    }

    .faq_main_title_title {

      font-weight: 900;
      margin: 0;
      margin-top: -50px;
      position: relative;
      padding: 5px;
      font-size: 19px;
      letter-spacing: 1.3px;
      margin-left: 58px;
      display: block;
    }

    .faq_main_title_btn {
      color: #FFFFFF;
      margin-top: 32px;
      width: 100%;
    }
  }

  .ticket_form_sec {
    margin-right: 50px;
    flex: 1 1 70%;
    max-width: 70%;

    .ticket_title {
      font-size: 1.2rem;
      margin-left: 16px;
      margin-bottom: 16px;
      color: #4f4f4f;
      font-weight: bold;
    }

    .faq_item {
      border: 1px solid #a2a2a2;
      border-radius: 10px;
      padding: 16px;
      box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.1);
      margin-bottom: 16px;

      .faq_item_head {
        cursor: pointer;
        display: flex;
        column-gap: 8px;
        align-items: center;
        font-weight: bold;
      }

      .faq_item_body {
        margin-top: 16px;
        padding-top: 16px;
        font-weight: 400;
        border-top: 1px solid #c1c1c1;
        padding-right: 8px;
        padding-left: 8px;
        font-size: 15px;
        line-height: 32px;
        color: rgba(0, 0, 0, 0.77)
      }
    }
  }

}


@media screen and (max-width: 1440px) {
  .banner__content {
    width: 1070px !important;
  }
  .banner__content {
    padding-left: 100px !important;
  }
  .banner__content__rartines {
    padding-right: 100px !important;
  }
}

@media screen and (max-width: 1024px) {
  .faq_main_sec {
    max-width: 100% !important;
    width: 100% !important;
  }
  .banner__content__rartines__text {
    padding-left: 50px !important;
  }
  .banner__content__title_span {
    height: 300px !important;
  }

  .plans__card__rigth {
    flex-wrap: wrap !important;
  }
  .banner__content {
    width: 100% !important;
    padding-right: 100px;
    padding-left: 100px;
  }
  .plans__crads {
    width: calc(50% - 15px);
    max-width: calc(50% - 15px);
    flex: 1 1 calc(50% - 15px);
  }
  .mobile_show {
    display: block !important;
  }
}


@media screen and (max-width: 768px) {
  .faq_main_sec {
    padding-right: 30px;
    padding-left: 30px;
  }
  .banner {
    flex-direction: column;
  }
  .mobile_show {
    display: block !important;
  }
  .banner__content__title__text {
    margin-top: 30px;

    > img {
      margin: auto;
    }
  }
  .banner__content__title_span {
    text-align: center;
    height: unset !important;
  }
  .banner__content__desc {

    text-align: center;
  }
  .plans__crads {
    width: 100% !important;
    flex: 1 1 100% !important;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main_background {
    height: 100%;
    width: auto !important;
    object-fit: cover !important;
  }
  .banner__content {
    width: 100% !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .banner {
    height: 100vh !important;
  }
  .banner__content__title_span {
    font-size: 2rem;
    line-height: unset !important;
    //height: 100px !important;
    display: block;
  }
  .banner__content__title__text {
    font-size: 2rem !important;
    line-height: unset !important;
    margin-bottom: 0 !important;
  }
  .banner__content__title {

  }

  .banner__content__desc {
    font-size: 1rem !important;
    line-height: unset !important;

  }


  .plan_main_sec {
    width: 100% !important;
    padding-right: 50px !important;
    padding-left: 50px !important;
    display: block !important;

    .certificate {
      padding: 20px;
      display: block !important;
      width: 100% !important;
      max-width: unset !important;
    }
  }

  .advantages_sec {
    width: 100% !important;
    //padding-right: 50px !important;
    //padding-left: 50px !important;
  }
  .plans__title {
    width: 100% !important;
    padding-right: 50px !important;
    padding-left: 50px !important;
    margin: unset !important;
    margin-bottom: 30px !important;
  }
  .main_background {
    height: 100% !important;
    width: auto !important;
    object-fit: cover !important;
    top: unset !important;
  }
  .advantages__cards {
    flex-wrap: wrap !important;
  }
  .advantages {
    width: 100%;
  }

  .advantages__card {
    width: 300px !important;
    max-width: 300px !important;
    flex: 1 1 300px;
  }


  .about {
    width: 100% !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .about__body__home {
    margin-top: 0;
    display: block;
  }
  .about__body__home__btn {
    display: block !important;
    width: 100% !important;
    max-width: unset !important;
  }
  .about__body__home__text {

    display: block !important;
    width: 100% !important;
    max-width: unset !important;
    padding-bottom: 100px;
  }
  .team__body {
    display: block !important;
    height: unset !important;
    width: 100%;
  }
  .our_team_slider {
    display: block;
    width: 100% !important;
    max-width: unset !important;
    height: 500px;
    padding-right: 30px;
  }
  .our_team_description {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
    max-width: unset !important;

    width: 100% !important;
  }

  .our_team_description_title {
    position: relative;
    z-index: 4;
    font-size: 20px;
    font-weight: 900;
    margin-top: 0;

    color: black;
    font-size: 2rem;

    margin-bottom: 60px;
  }


  .plans__card__rigth {
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: center;
    gap: 30px;

  }
  .banner__content__button {
    justify-content: center;
  }

  .banner__content__rartines {
    width: 100% !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
  .banner__content__rartines {
    margin-bottom: 70px !important;
  }

  .faq_item_sec {
    width: 100%;
  }
  .withdrawal_summery_main_sec {
    margin-left: 0 !important;
  }
  .faq_main_sec {
    flex-direction: column;
    padding-top: 0 !important;
    width: 100% !important;
  }
  .faq_item_sec {
    margin-top: 30px;
    margin-left: 0 !important;
  }
  .faq_item_sec {
    margin-left: 50px;
    flex: 1 1 100% !important;
    max-width: 100% !important;
  }
}

@media screen and (max-width: 425px) {

  .banner__content__rartines {
    width: 100% !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
  .faq_main_sec {
    padding-right: 30px;
    padding-left: 30px;
  }
  .withdrawal_summery {
    margin-left: 15px !important;
  }
  .faq_item_sec {
    width: 100%;
  }
  .withdrawal_summery_main_sec {
    margin-left: 0 !important;
  }
  .faq_main_sec {
    flex-direction: column;
    padding-top: 0 !important;
    width: 100% !important;
  }
  .faq_item_sec {
    margin-top: 30px;
    margin-left: 0 !important;
  }
  .faq_item_sec {
    margin-left: 50px;
    flex: 1 1 100% !important;
    max-width: 100% !important;
  }

  .withdrawal_summery_header {
    row-gap: 16px;
    flex-direction: column;
  }


  .banner{
    height: unset !important;
  }
  .banner__content{
    margin-top : 50px!important;
    height: auto!important;
  }
  .withdrawal_summery_main_sec{
    height: 700px!important;
  }
}
