.menu_logo{
  height: 50px;
  width: fit-content;
}

.main_menu_wallet{
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-right: 16px;
  padding-left: 16px;
  align-content: center;
  align-items: center;
  .wallet__in__price{
    color: black;
    font-weight: bold;
  }
}

.mobile_user_item{
  height: 100px!important;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
  .mobile_user_cart{
    width: 50%;
    max-width: 50%;
    flex: 1 1 50%;

  }
  .wallet_cart{
    width: 50%;
    max-width: 50%;
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
  }
  .mob_btn{
    margin-top: 16px;
    width: 100%;
    max-width: 100%;
    flex: 1 1 100%;
  }
}