.referrals_maim_sec{
  display: flex;

  justify-content: flex-start;
  background: #D25487;
  border-radius: 10px;
  padding: 16px;
  margin-top: 16px;
  align-items: center;
  gap: 16px;
  .referrals_maim_sec__title{
    font-weight: bold;
    color: #fff;
  }
}
