
.summery__sec {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  .summery_sec_wallet {
    flex: 1 1 calc(50% - 15px);
    width: calc(50% - 15px);
    max-width: calc(50% - 15px);

    .summery_sec_wallet_label {



    }

    .wallets {
      margin-top: 16px;
      border: 1px solid #bcbcbc;
      padding: 16px;
      .wallets__cradit{
        font-weight: bold;
        margin-left: 30px;
      }
    }
  }


  .payout_sec_wallet {
    flex: 1 1 calc(50% - 15px);
    width: calc(50% - 15px);
    max-width: calc(50% - 15px);

    .pennding__seccc{
      border: 1px solid #bcbcbc;
      padding: 16px;
      margin-top: 16px;
      .pennding__seccc__head{
        display: flex;
        justify-content: space-between;
      }
      .pennding__seccc__body{
        display: flex;
        justify-content: space-between;
      }
    }

  }


}
.label{
  font-weight: bold;
}
.bod{
  color: #8A8A8A;
  margin-right: 15px;
}


