// colors
$primary: #071952;
$blue: #0079FF;
$secondary: #8A8A8A;
$success: #00DFA2;
$info: #0fa6e7;
$danger: #d21312;
$warning: #ffa600;
$dark: #333;
$black: #000;
$white: #fff;
$gray: #d9d9d9;
$light: #f3f8fb;
$purple: #bf66f7;
$soft-light: #F8FBFF;

// radiuses
$border-radius:10px;
$border-radius-sm:5px;
$border-radius-md:15px;
$border-radius-lg:20px;

// fonts
$font-family:'DM Sans';
$font:16px;
$font-sm:12px;
$font-xsm:10px;
$font-md:18px;
$font-lg:24px;
$font-xlg:26px;

// animations
$base-transition: 0.2s ease;

// pathes
$fonts-path: "../font";
$images-path: "../images";
$icons-path: "../images/icons";

// grid
$grid-gutter-width: 16px;